<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.seckill.dao.SeckillGoodsDao">

    <sql id="BASE_TABLE">
         t_seckill_goods
     </sql>

    <update id="reduce" parameterType="com.demo.seckill.model.SeckillGoods">
        update
        <include refid="BASE_TABLE"/>
        set stock_count = stock_count - 1 where goods_id = #{goodsId}
    </update>

</mapper>