<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.seckill.dao.UserDao">

    <sql id="BASE_TABLE">
         t_user
     </sql>

    <sql id="BASE_COLUMN">
        id,name
    </sql>

    <resultMap id="BaseResultMap" type="com.demo.seckill.model.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
          <include refid="BASE_COLUMN"/>
        from
          <include refid="BASE_TABLE"/>
        where
          id = #{id, jdbcType=INTEGER}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
          <include refid="BASE_TABLE"/>
        from
          <include refid="BASE_COLUMN"/>
    </select>

    <insert id="insertUser" parameterType="com.demo.seckill.model.User">
        insert into
          <include refid="BASE_TABLE"/>
          <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="id != null">
                  id,
              </if>
              <if test="name ! null">
                  name,
              </if>
          </trim>
          <trim prefix="values(" suffix=")" suffixOverrides=",">
              <if test="id != null">
                  #{id, jdbcType=INTEGER},
              </if>
              <if test="name != null">
                  #{name, jdbcType=VARCHAR},
              </if>
          </trim>
    </insert>
</mapper>